.Detail {
    text-align: center;
    display: flex;
    justify-content: center;

    .centerMe {
      margin: 0 auto;
      padding: 3% 5% 5% 5%;
    }

    .mybutton:hover {
      background-color: black;
      color: white;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }

}
